#example-1 {
    width: 1534px; height: 753px; background-color:rgb(190, 10, 10);scroll-snap-align: start;
}

#example-2 {
    width: 1534px; height: 753px; background-color:rgb(10, 190, 121);scroll-snap-align: start;
}

#example-3 {
    width: 1534px; height: 753px; background-color:rgb(10, 169, 190); scroll-snap-align: start;
}

.Header:hover {
    background-color: rgb(233, 233, 233);
    border-radius: 5px;
    transition-duration: 0.2s;
    cursor: pointer;
}

.Language:hover {
    background-color: rgb(206, 206, 206);
    border-radius: 5px;
    transition-duration: 0.2s;
}

#LineCode {
    animation-name: CodeLine;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#HTML {
    animation-name: StackElem1;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#header {
    width: 100%;
    height: 70px;
    background-color: blueviolet;
}


@media screen and (max-device-width: 1200px) {
    #FonContainer {
      display: none;
    }

    #SliderButton {
        width: 0px;
        background-color: black;
       
    }

    #body {
        width: 100%;
    }

    #header-container {
        
        justify-content:safe;
    }
  }

@media screen and (max-device-width: 360) {
    #white {
        width: 360px;
    }
  }

@keyframes CodeLine {
    0% {
        color: black;
    }

    50% {
        color: white;
    }

    100% {
        color: black;
    }
}

/* @keyframes StackElem1 {
    0% {
        margin-bottom: 10px;
        
    }

    50% {
        margin-bottom: -10px;
       
    }

    100% {
        margin-bottom: 10PX;
        
    }

} */

#sidebar {
    position: absolute;
    top: 0;
    left: -200px;
    width: 200px;
    height: 100%;
    background-color: gray;
    transition: left 0.5s ease-out;
  }

* {
    margin: 0px; padding: 0;
}


  



